body {
    background-image: url(indexbackground.jpg);
    background-size: cover;
    padding: 20px;
}
#header {
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    font-style: italic;
    text-shadow: 2px lightgrey;
    text-decoration: underline;
}
#nav ul {
    color: #660000;
    font-weight: bold;
    padding: 20px;
    list-style-type: none;
}
#nav li {
    float: left;
    padding: 20px;
}
#nav li a {
    color: #660000;
    font-weight: bold;
}
#nav li:hover {
    font-style: italic;
    color: #cc00cc;
}
#nav li a:hover {
    font-style: italic;
    color: #cc00cc;
}
#subhead1 {
    font-weight: bold;
    color: #99003d;
    padding-left: 45%;
    font-family: cursive;
}
#subhead2 {
    font-weight: bold;
    text-align: center;
    color: #99003d;
    font-family: cursive;
}
.intro {
    font-style: italic;
    text-align: justify;
    color: #4d2600;
    font-weight: bold;
}
#introp2 {
    padding-left: 10%;
    padding-right: 2%;
    }
#monalisa {
    padding-left: 40%;
}
#mona-lisa {
   color: black;
}